body {
  font-family: "roboto", "raleway", "sans-serif";
  color: red;
}

/* Голова */
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31;
  letter-spacing: 0.03em;
  color: #000000;
}

.TextNAV :hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16;
  letter-spacing: 0.02em;
  color: #212121;
}

/* Ноги */
/* логотип скопирован из головы */


.Adress :hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.MiT :hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Майн веб */


.HERO {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.Hbutton :hover {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30;
color: #FFFFFF;

}

/* section1 */
/* WS1h3 - Webstudio Section 1 H3 */
/* WS1P -wEBSTUDIO Section 1 P */
.WS1h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.WS1P {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24;
  letter-spacing: 0.03em;
  color: #757575;
}


/* section 2 */
.WS2h2 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

/* section 3 */
/* WS3h2 - Webstudio section 3 h3 */
/* WS3h3 - Webstudio section 3 h3 */
/* WS3p Webstudio section 3 p*/

.WS3h2 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.WS3h3 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.WS3p {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19;
text-align: center;
letter-spacing: 0.03em;
color: #757575;

}
        /*Portfolio  */

.btnP :hover {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
cursor: pointer;
}

/* section 2*/

.PS2h3 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36;
letter-spacing: 0.06em;
color: #212121;
}


.PS2p {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30;
letter-spacing: 0.03em;
color: #757575;
}